<md-content flex>

<md-toolbar layout="row" layout-padding>
     <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSidenav()">
        <ng-md-icon icon="menu" style="fill:white"></ng-md-icon>
      </md-button>
      <h2>Big Outsource Exam</h2>
      <span flex></span>
      <md-button class="md-raised md-accent" ng-click="goLogin()">Login</md-button>
      <md-button class="md-raised md-accent" ng-click="goSignup()">Signup</md-button>
    </div>
  </md-toolbar>

  <md-content flex id="content" layout-padding>
    <md-content layout-padding ui-view="menuContent"></md-content>
  </md-content>
</md-content>
