<div class="container">
  <md-card style="background-color: #f5f5f5;">
    <h3 align="center">{{Clerical.examType}}</h3>
  <div class="container-fluid" ng-hide="ins">
  <md-card>
  <p layout-margin align="center" ng-repeat="instruction in Clerical.instructions" >{{instruction.ins}}</p>
  </md-card>
  <center><md-button class="md-raised md-primary" type="submit" ng-click="begin()">Begin</md-button></center>
  </div>
  <br>
    <div class="col-md-12" ng-if="question">
      <div>
      <md-card>
        <div layout-margin>
          <p>{{id + 1}}) {{question.questionText}}</p>
          <div ng-repeat="question in question.questionSub">{{question.questionText1}}</div>
          <div ng-repeat="answer in question.answers">

            <md-radio-group ng-model="answers[$parent.$index]" ng-click="next()">
            <md-radio-button value="{{ answer.answerText }}" name="quest_{{$parent.$index}}_answers" /> {{ answer.answerText }}
            </md-radio-button>
            </md-radio-group>

		      </div>
        </div>
      </md-card>
      </div>

    <center>
      <md-button class="md-raised md-primary" type="submit" ng-click="next()">Next</md-button>
    </center>
    </div>
<div class="container-fluid" ng-show="result">
<md-card>
<h4 layout-margin align="center">Your score: {{ correctCount }} / {{Clerical.questions.length}}</h4>
</md-card>
</div>
</md-card>
</div>
