
<div class="container">
  <md-card style="background-color: #f5f5f5;">
    <h3 align="center">{{examType}}</h3>
  <div class="container-fluid" ng-if="!begin" ng-if="!score">
  <md-card>
  <p layout-margin align="center" ng-repeat="ins in Instructions" >{{ins.ins}}</p>
  </md-card>
  <center><md-button class="md-raised md-primary" type="submit" ng-click="startexam()">Begin</md-button></center>
  </div>
  <br>
    <div class="col-md-12" ng-if="score" ng-if="begin" >
      <div ng-repeat="question in questions  | limitTo: 1 " >
      <md-card>
        <div layout-margin>
          <p>{{$index + 1}}. {{question.questionText}}</p>
          <div ng-repeat="question in question.questionSub">{{question.questionText1}}</div>
          <div ng-repeat="answer in question.answers">
            <input type="radio" ng-model="answers[$parent.$index]" value="{{ answer.answerText }}"/> {{ answer.answerText }}

		      </div>
        </div>
      </md-card>
      </div>

    <center>
      <!-- <md-button class="md-raised md-primary" type="submit" ng-model="showResult()" ng-click="endexam()">Submit</md-button> -->
      <md-button class="md-raised md-primary" type="submit" ng-model="" ng-click="">Prev</md-button>
      <!-- <md-button ng-repeat="question in questions" type="submit" ng-model="" ng-click=""> {{$index + 1}} </md-button> -->
      <md-button class="md-raised md-primary" type="submit"  ng-click="next()">Next</md-button>{{question}}

    </center>
    </div>
<div class="container-fluid" ng-if="result">
<md-card>
<h4 layout-margin align="center">Your score: {{ correctCount }} / {{questions.length}}</h4>
</md-card>
</div>
</md-card>
</div>

<!-- ======================================================================================================================================================= -->


<!-- <div ng-repeat="question in questions">
  <p>{{$index + 1}}. {{question.questionText}}</p>
</div>
<md-button class="md-raised md-primary" type="submit" ng-model="next">Next</md-button> -->
